* {
  transition: all 0.5s;
}

h3 {
  margin-top: 0;
  margin-bottom: 3px;
}

span{
  margin-bottom: 10px;
}

.options, .inputs, .details, .buttons{
  display: flex;
  align-items: flex-start;
}

.options, .buttons {
  flex-direction: row;
  justify-content: space-between;
}

.input, .details {
  justify-content: flex-start;
}

.inputs, .details {
  width: 45%;
  flex-direction: column;
}

.inputs input {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%
}

.buttons {
  margin-top: 15px;
  justify-content: center;
}

button {
  background-color: #EF452C;
  padding: 5px 10px 5px 10px;
  border: 0;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}

button:disabled{
  background-color: #c3c3c3;
}
